#image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p{
	text-align: justify;
	color: white;
}


#navcontainer{
	position:fixed;
	width:200px;
	height:100%;
}
 #navcontainer navlist li {
	list-style:none;
	padding:15px 10px;
	border-bottom: 1px solid rgba(100,100,100.0.3)
}
